.nav-footer {
    margin-top: 20px;
    box-shadow: 0px -5px 6px -5px #999999;
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-around;
}

.link {
    padding: 16.5px 40px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
}
.link-center {
    padding: 16.5px 40px;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s;
}
.link.active,
.link-center.active {
    /* CSS cho lớp link khi active */
    background-color: var(--color-main);
    color: var(--white);
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: -5px;
    border-top-right-radius: -5px;
}
.link:hover,
.link-center:hover {
    /* CSS cho lớp link khi active */
    background-color: var(--color-main);
    color: var(--white);
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    border-top-left-radius: -5px;
    border-top-right-radius: -5px;
}

@media (max-width: 532px) {
    .link {
        padding: 16.5px 20px;
        font-size: 15px;
    }
    .link-center {
        padding: 16.5px 20px;
        font-size: 15px;
        border-left: 1px solid rgb(209, 209, 209);
        border-right: 1px solid rgb(209, 209, 209);
        border-bottom-right-radius: 9px;
        border-bottom-left-radius: 9px;
    }
}
